@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS do Cabeçalho */

.cabecalho {
  display: flex;
  justify-content: center;
  background-color: #0677b8;
  padding: 10px 50px;
  align-items: center;
  width: 100%;
}


.titulo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}


/* CSS do main */

main {
  width: 90%;
  background-color: #fff;
}

.projetos {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  width: 250px;
  padding: 10px;
  margin: 0 40px 0 80px;
  min-height: 300px;
}

.card a{
  text-decoration: none;
  color: rgb(53, 52, 52);
}

.card img:hover{
  transform: scale(1.2);
}

.card p {
  font-size: 1.3rem;
  display: none;
}

.card:hover p{
  display: block;
}

/* imagens */

.card-50px
{
  width: 50px;
}

.card-60px  {
  width: 80px;
}
