@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 55px);
  background: linear-gradient(120deg, #19d4da, #2b0961);
}

.relogio{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);
}

.relogio div{
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgba(5, 5, 5, .9);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
  border-radius: 7px;
  letter-spacing: 3px;
}

.relogio span{
  font-size: 60px;
  font-weight: bold;
}

.relogio span.tempo{
  font-size: 10px;
}